<div id="div-form">
    <h2>Cadastro de Corrida</h2>

    <form id="form-corrida" (submit)="enviaDadosCorrida()">
        <label for="descricao">Descrição da Corrida</label>
        <textarea
           id="descricao"
           name="descricao"
           [(ngModel)] = "descricao"
           placeholder="Ex: 5° Maratona Noturna da Cidade"></textarea>

        <label for="dataDaCorrida"> Data da Corrida </label>
        <input type="date" name="dataDaCorrida" [(ngModel)] = "dataDaCorrida" class="input" required>
        
        <label for="distancia">Distâncias Disponíveis</label>
        <div id="div-checkbox">
           <input type="checkbox" name="distancia5km" [(ngModel)] = "distancia5km" id="distancia5km" class="btnSelecao" value="5km">5km
           <input type="checkbox" name="distancia10km" [(ngModel)] = "distancia10km" id="distancia10km" class="btnSelecao" value="10km">10km
           <input type="checkbox" name="distancia25km" [(ngModel)] = "distancia25km" id="distancia25km" class="btnSelecao" value="25km">25km 
        </div> 
        <div id="div-btns">
            <button type="submit" id="btnAdd"> Cadastrar Corrida </button>
        </div>
    </form>
       

</div>